# Runtime Information
nThreads		= @nThreads
isVerbose		= @isVerbose

# Data Processing Information
filterReads             = false
maxBaseCount            = null
maxBaseRepeat           = null
regexFilter             = null
shapeDir                = null

# Feature Information
useDinuc		= @useDinuc
useShape		= false
shapes			= null
useNSBinding		= @useNSBinding
nShifts			= @nShifts
flankLength		= @flankLength

# Mode Information
nModes			= @nModes
startK			= @startK
maxK			= @maxK
useSymmetry		= @useSymmetry
sweepLengths		= @sweepLengths

# Seed Information TODO: fix seeding
seedFit			= false

# Optimization Configuration
errorBars		= @errorBars
lambda			= @lambda

# Minimizer Configuration (predefined):
minimizerType           = lbfgs
lbfgsMem                = 200
lbfgsMaxIters           = 2500
lbfgsConvergence        = 5E-6
lbfgsMCSearch           = true

# Data, R0Model and Output Information (automatically set):
workingDir              = @workingDir   
sequencingRunName       = @seqRunName
sampleName              = @sampleName      
varLen                  = @varLen       
lFlank                  = @lFlank
rFlank                  = @rFlank
R0ModelPath             = @R0ModelPath      
outputPath              = @outputPath     
outputName              = @outputName
